
    .beforsericle p {

height:fit-content;
    text-align: center;
    padding-top: 350px;

     font-family: sans-serif;
     color:#9dd0e0;
     font-weight: bold;
     font-size: 34px;
     text-decoration: underline;

     }
    

     .beforsericle-about p{
      
      text-align: center;
       
       font-family: sans-serif;
       
       color:#9dd0e0;
       font-weight: bold;
     /*margin-top: -20px;*/
      font-size: 34px;
     text-decoration: underline;
       
     }
     .beforsericle-aboutloaction p {
      font-size: 34px;
      text-decoration: underline;
padding-top: -400px;
      font-family: sans-serif;
     
      color:#9dd0e0;
      font-weight: bold;
       text-align: center;
       
     }
     

     .floa img p{
       position: relative;
     

      margin-left:-24px;
      
   }
      .beforsericle-aboutvison p{
        font-size: 34px;
        text-decoration: underline;
        text-align: center;
       
         font-family: sans-serif;
         
         color:#9dd0e0;
         font-weight: bold;
      }
     
   * {
    box-sizing: border-box;
  
  }
   
  
        