*{
	margin: 0;
	padding:0;
	font-family:'Poppins', sans-serif; 
	font-size: 15px;
}

.t{
	font-size:40px; 
	color:#ADD8E6;
	bottom: 270px;
	position: absolute;
}
.fgp{
	font-size:12px; 
	bottom: 90px;
	position: absolute;
    color: black;

}
a{
	color:#A9A9A9;
}
/*a:visited{
	color: #A9A9A9;
}*/

a:hover{
	color:#ADD8E6;
}


.out{
	height: 100%;
	width: 100%;
	background-image: url("bg.jpg");
	background-position: center;
	background-size: cover;
	position: absolute;
}

.container{
	width:300px;
	height: 330px;
	position: relative;
	margin: 6% auto;
	background: #FFFFFF;
	padding:5px;
	box-shadow: 0 0 5px 10px #FFFFFF;
	bottom: 0px;
top: 70px;
border-radius: 10px;}

.btnb{
	width:110px;
	margin: 35px auto;
	position: relative;
	border-radius: 30px;
	top:30px;
}
.toggle{
	padding:10px 30px;
	cursor:pointer;
	background: transparent;
	border:0;
	outline: none;
	position: relative;
}
#btn{
	top: 0;
	left: 0;
	position: absolute;
	width:110px;
	height:100%;
	background: #ADD8E6;
	border-radius:30px;
}
.inputA{
	top: 70px;
	position: absolute;
	width:270px;
}
.input{
	width:100%;
	padding: 10px 0;
	margin: 7px 0;
	border-left: 0;
	border-right: 0;
	border-top: 0;
	border-bottom: 1px solid #999;
	top:100px;
	outline: none;
	background: transparent;

}

.submit{
	width:80%;
	padding: 10px 30px;
	cursor:pointer;
	display: block;
	margin:auto;
	background:#FFE4C4;
	border:0;
	outline: none;
	border-radius: 30px;
}
.new{
font-size:15px; 
	color:#A9A9A9;
	top: 230px;
	position: absolute;
	left:20px;

}
.checkbox{
	margin: 30px 10px 30px 0;
}

span{
	color:#A9A9A9;
	font-size:15px;
	bottom: 62px;
	position: absolute;
}




